<div class="jumbotron" >
    <div class="container-fluid ">
        <div class="media flex-column align-items-center">
            <div class="margin-bottom row h-100 justify-content-center align-items-center"> 
                <div class="education-pic">
                </div>
                <div>
                    <h1>Education Background</h1>
                </div>
            </div>
            <div class="full-width row ">
                <div class="timeline">
                    <div class="container left">
                      <div class="content">
                        <h6>Master of Science in Software Engineering </h6>
                        <h6>University of Limerick, Limerick, Ireland</h6>
                      </div>
                      <div class="timeline-year">Sep 2020</div>
                    </div>
                    <div class="container right">
                        <div class="content">
                            <h6>Joined Websparks Pte Ltd</h6>
                            <h6>Software Developer</h6>
                            <h6>Kallang, Singapore</h6>
                        </div>
                        <div class="timeline-year">Oct 2018</div>
                    </div>
                    <div class="container left">
                        <div class="content">
                            <h6>Joined Asiatravel.com Holding Pvt Ltd</h6>
                            <h6>Software Developer</h6>
                            <h6>Toa Payoh, Singapore</h6>
                        </div>
                        <div class="timeline-year">Nov 2014</div>
                      </div>
                    <div class="container right">
                        <div class="content">
                          <h6>Joined Infinite Computer Solution Ltd</h6>
                          <h6>Software Testing Engineer</h6>
                          <h6>Bengluru, India</h6>
                        </div>
                        <div class="timeline-year">May 2012</div>
                    </div>
                    <div class="container left">
                        <div class="content">
                          <h6>Bachelor of Science in Mechanical Engineering </h6>
                          <h6>Anna University, Tamil Nadu, India</h6>
                        </div>
                        <div class="timeline-year">Apr 2011</div>
                      </div>
                    </div>
                    
                </div>
        </div>
    </div>
</div>