<div class="jumbotron header-intro">
    <div class="container-fluid">
        <div class="profile-teaser media flex-column flex-md-row h-100 justify-content-center align-items-center">
            <div class="mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"  >
                <div class="profile-pic">
                </div>
            </div>
            <div>
                <p class="lead">Hello, my name is </p>
                <h1 class="display-3">Nidhin Paul</h1>
                <hr class="my-3">
                <p>I am a Full stack Software developer who can offer solutions in C#, Java, Angular, KnockoutJS. </p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>