<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/']" >
        <div class="Home-logo"></div>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse collapse" id="navbarColor01">
     
      <ul class="navbar-nav nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement('#home')" href="#home">About me</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('#education')" href="#education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement('#skill')"  href="#skill">Skills</a>
          </li>
      
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    
    </div>
    <div class="row social-link-top">
      <a class="social-link linkedin" href="https://www.linkedin.com/in/nidhinpaul/" target="_blank"></a>
      <a class="social-link github" href="https://github.com/nidhin20" target="_blank"></a>
   </div>
  </nav>
 