/* .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */
.Home-logo{
    background: url(/assets/Images/NP-logo.png);
    height:40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid white;
    background-position: 50% 50%;
    background-size: cover;
    
}
.nav-item a{
    cursor: pointer;
}
.active{
    border-bottom: 2px solid !important;
    display: inline-block;
    
}
.nav-item a:hover{
    border-bottom: 2px solid !important;
    display: inline-block;
  
}