/* You can add global styles to this file, and also import other style files */

@import "~bootswatch/dist/cosmo/bootstrap.min.css";

html {
    scroll-behavior: smooth;
  }
  .othercontainer{
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
}
.jumbotron{
    /* min-height: 500px; */
    margin-bottom: 0px !important;
}

body{
    background-color: #fbfcfd;
}